@tailwind base;
@tailwind components;
@tailwind utilities;


li:after{
content: "";
position: absolute;
top: 50%;
left: 0%;
z-index: -1;
transform: translateY(-50%);
transition: all ;
transition-duration: 700ms;
width: 0;
height:38.25px;
background-color: #333;
}
li:hover:after{
  width: 91px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
